:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;
}

body {
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--color-black);
	width: 500px;
	margin: auto;
}

ul img {
	width: 60px;
	height: 60px;
}

span {
	font-size: 30px;
	margin-left: 50px;
}

button {
	background-color: var(--color-black);
	font-size: 25px;
	width: 80px;
	height: 80px;
	padding: 0;
	border-radius: 5px;
	border: white solid 1px;
}

section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

li {
	background-color: var(--color-white);
	border-radius: 5px;
	margin: 3px 0px 3px 0px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

li img {
	margin: 0px 10px 0px 10px;
}

.Btn img {
	width: 60px;
	height: 60px;
}

.blue {
	background-color: var(--color-blue);
}

.yellow {
	background-color: var(--color-yellow);
}

.pink {
	background-color: var(--color-pink);
}

.logo {
	margin: auto;
	justify-content: center;
	width: 150px;
	height: 150px;
}

.items {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: 100%;
	padding: 0;
	list-style: none;
}

.logo:hover {
	transform: scale(1.1);
}

.Btn:hover {
	transform: scale(1.1);
}
